<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><b>My ChartApp</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="color:white;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'filter-page'  %}">Filter-Page</a>
          </li>
        </ul>
        
        <div class='mini-bar'>
          {% if request.session.user %}
          <button class="btn btn-outline-success"><a href='{% url 'add_data' %}'>ADD New Data</a></button>
          {% endif %} 
        </div>
        <div>
          {% if request.session.user %}
          <button class="btn btn-outline-primary" type="submit"><a href="{% url 'logout' %}">LogOut</a></button>
          {% else %}
          <button class="btn btn-outline-primary" type="submit"><a href="{% url 'login' %}">Login</a></button>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>