{% extends "partials/base.html" %}
{% block content %}

<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <p style="color:white;"}>
                    This is <b>Aakash Kumar Singh</b>, Full-Stack Software Engineer, graduated from VTU, Bangalore.
                    Our main objectives is to learn new skills and implement it in our future projects and we have worked on many projects 
                    like Chart-Visual Projects, E-commerce, Student Management System, Resume Uploader Project and many more.
                    Our Git-hub account is <a href='https://github.com/aakash2222/'>github.com/aakash2222</a>. 
                    <div class="button">
                        <a href="">Read More</a>
                    </div>

                </p>                
            </div>
        </div>
        
    </div>
</div>

{% endblock %}